@using ASP.Server.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ASP.Server.ViewModels.BooksListViewModel
@{
    ViewData["Title"] = "Home Page";
}
@using (Html.BeginForm("List", "Book", FormMethod.Get))
{
    <div>
        <label for="selectedAuthors">Auteurs:</label>
        <select id="selectedAuthors" name="selectedAuthors" multiple="multiple">
            @foreach (var author in Model.AllAuthors)
            {
                <option value="@author.Id">@author.Name</option>
            }
        </select>
    </div>
    <div>
        <label for="selectedGenres">Genres:</label>
        <select id="selectedGenres" name="selectedGenres" multiple="multiple">
            @foreach (var genre in Model.AllGenres)
            {
                <option value="@genre.Id">@genre.Name</option>
            }
        </select>
    </div>
    <button type="submit">Filtrer</button>
}

<div class="listeBooks">
    <h1>Liste des livres:</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Prix</th>
                <th>Contenu</th>
                <th>Auteurs</th>
                <th>Genres</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model.Books)
            {
                <tr>
                    <td>@book.Id</td>
                    <td>
                        <a asp-area="" asp-controller="Book" asp-action="Show" asp-route-id=@book.Id>
                            @book.Name
                        </a>
                    </td>
                    <td>@book.Price</td>
                    <td>@book.Content</td>
                    <td>
                        @foreach (var author in book.Authors)
                        {
                            <span>@author.Name</span>

                        }
                    </td>
                    <td>
                        @foreach (var genre in book.Genres)
                        {
                            <span>@genre.Name</span>

                        }
                    </td>
                    <td>
                        <a class="btn-primary" asp-area="" asp-controller="Book"
                           asp-action="Update" asp-route-id=@book.Id>
                            Edit
                        </a>
                        <a class="btn-primary" asp-area="" asp-controller="Book"
                           asp-action="Delete" asp-route-id=@book.Id>
                            Supprimer
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

